:root {
  --backdrop: #08090c;
  --marquee: #254685;
  --highlight: #539ef3;
  --container: #111822;
  --card: #1f2842;
  --card-accent: #3f4a6b;
  --text-primary: white;
  --text-secondary: #c7dfff;
  --danger: #c72626;

  color: var(--text-secondary);
  background-color: var(--backdrop);
}

#loading {
  display: flex;
  justify-content: center;
  padding-top: 35vh;
}

#loading img {
  height: 64px;
}

nav {
  display: grid;
  grid-template-columns: 70px auto 140px 30px;
  height: 45px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--marquee);
  overflow: hidden;
}

.nav__grid {
  text-align: right;
  padding-right: 10px;
  padding-top: 13px;
}

.nav__grid input {
  text-align: left;
  width: 100%;
}

ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 0;
  list-style-type: none;
}

a {
  color: var(--text-primary);
  text-transform: block;
  text-decoration: none;
}

h1 {
  font-family: "Manrope", sans-serif;
  color: var(--text-primary);
  font-size: 25px;
  font-weight: normal;
  text-transform: capitalize;
  text-align: center;
  margin: 10px;
}

h2 {
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  font-weight: normal;
  margin-block-start: 0px;
  margin-block-end: 5px;
}

h3 {
  font-size: 15px;
  color: var(--text-secondary);
  margin-block-start: 5px;
  margin-block-end: 5px;
}

p {
  color: var(--text-primary);
  font-family: "Manrope", sans-serif;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

span {
  text-align: center;
  color: var(--text-secondary);
  font-family: "Manrope", sans-serif;
  margin-right: 5px;
}

.span__small {
  font-size: 14px;
}

button {
  color: var(--text-primary);
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  height: 28px;
  border-radius: 10px;
  background-color: var(--marquee);
  border: 1px solid var(--marquee);
  margin-right: 5px;
}

button:hover {
  border: 1px solid var(--highlight);
}

button:active {
  background-color: var(--container);
}

.button__danger {
  background-color: var(--danger);
  border: 1px solid var(--danger);
}

.container {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--container);
}

.card {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: var(--card);
  outline: 1px solid var(--card-accent);
}

.card:hover {
  background-color: rgb(48, 44, 82);
}

.topics {
  text-align: center;
}

.topics ul {
  display: flex;
  padding: 5px;
  list-style-type: none;
}

#sort-options {
  text-align: center;
}

#footer {
  margin: 10px;
  text-align: center;
}

.Loading {
  position: fixed;
  bottom: 0;
  right: 0;
}
