:root {
  --backdrop: #000000;
  --marquee: #446bad;
  --container: #29183a;
  --card: #402c57;
  --text-primary: rgb(234, 246, 255);
  --text-secondary: rgb(128, 200, 255);
  --button: rgb(62, 91, 219);

  padding: 0;
  color: var(--text-secondary);
  background-color: var(--backdrop);
}

nav {
  height: 50px;
  margin-bottom: 0px;
  background-color: var(--marquee);
}

ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 0;
  list-style-type: none;
}

a {
  color: var(--text-primary);
  text-transform: capitalize;
}

h1 {
  color: var(--text-primary);
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  margin: 10px;
}

h2 {
  font-size: 20px;
  padding-top: 0px;
  margin-block-start: 5px;
  margin-block-end: 5px;
}

h3 {
  font-size: 15px;
  color: var(--text-secondary);
  margin-block-start: 5px;
  margin-block-end: 5px;
}

p {
  color: var(--text-secondary);
  margin-block-start: 5px;
  margin-block-end: 5px;
}



.Container {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--container);
}

.articles__card {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: var(--card);
}

#TopicsCard {
  background-color: var(--container);
}

#TopicsCard ul {
  display: flex;
  padding: 10px;
  list-style-type: none;
}

#SortOptionsCard {
  text-align: center;
}

#Article {
  background-color: rgb(255, 194, 194);
  margin-left: 10px;
  margin-right: 10px;
}