nav {
  background-color: aqua;
}

#topics-container {
  background-color: lightgreen;
}

#articles-list {
  background-color: hotpink;
}

.articles__card {
  background-color: lightpink;
}

#article {
  background-color: antiquewhite;
}